a {
text-decoration: none;
color: inherit;
}

.header {
    display: flex;
    justify-content:space-between ;
    align-items:center;
    height: 70px;
    max-width: 960px;
    padding-inline: 1rem;
    margin: 0 auto;
}

.header-ttl{
    width: 10rem;
}

.header-ttl img {
    width: 100%;
}

.header-nav-list {
    display: flex;
    margin: 20px;
}

.header-nav-item:not(:last-child) {
    margin-right: 30px;
}

.mainvisual img {
    width: 100vw;
    height: 600px;
    object-fit: cover;
}

.about {
    
    max-width: 960px;
    padding: 4%;
    margin: 0 auto;
}

.title {
    text-align:center;
    font-size: 36px;
}
.title span{
    border-bottom: solid 1px black;
}

.profile__content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.profile__content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile__content-name {
    padding: 10px 40px;
    margin: 0;
}

.profile__content-text {
    padding: 10px 40px;
}

.bicycle {
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

.bicycle__content {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.bicycle__content-img {
    width: 30%;
}

.bicycle__content-img img {
    width: 100%;
}

.bicycle__content-ttl {
    margin: 15px 15px;

}

.copyright {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


@media screen and (max-width: 600px) {
    .body {
        width: 600px;
        text-align: center;
    }


    .header-nav-list {
        display: flex;
        margin: 20px;
    }

    .main {
        object-fit: cover;
        width: 100vw;
    }



    .bicycle__content {
        display: flex;
        flex-direction: column;
    }
}